<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<aside>
    <div class="sidebar">
        <nav>
            <ul>
                <li>Dashboard</li>
                <li>
                    <a>
                        <i>icon</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a>
                        <i>icon</i>
                        <p>Post blog</p>
                    </a>
                </li>
                <li>Management</li>
                <li>
                    <a>
                        <i>icon</i>
                        <p>Blog management</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</html>